.aside {
  background-color: #00003F;
  color: #FFF;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px;
  width: 350px;
}

aside .section {
  display: flex;
  flex-direction: column;
}

a {
  color: #FFF;
  text-decoration: none;
}

.capitalize {
  text-transform: uppercase;
}