* { 
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0; 
  padding: 0;
}

.content {
  display: flex;

  &--column{
    flex-direction: column;
    width: calc(100% - 350px);
  }
}