@import './mixins';


.main {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: column;
    padding: 10px;  
  }
}

.container {
  background-color: #FFFFF0;
}

.section__title {
  border-bottom: 1px solid black;

  &--uppercase {
    text-transform: uppercase;
  }
}

.underline {
  text-decoration: underline;
}

ul {
  @include reset-ul();
}