.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

main .section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #FFFFF0;
}

.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: uppercase;
}